<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune hub : Login </title>
<link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="main">
 <h1>Login TuneHub</h1>
 <div class="div1">
<form action="validate" method="post">
                <div class="email">
                <label>Email : </label>
                  <input type="email" name="email"/> <br>
                  </div>
                  <div class="password">
     <label>Password : </label>
    <input type="password" name="password"/>
    </div>
    <br>
   <div class="sbmit">
    <input type="submit" value="Login"/>
    </div>
    </form>
    </div>
    </div>
</body>
</html>